extends layouts/main.pug
include mixins/videoBlock

block content
    .search_header
        h3 Searching by #{searchingBy}
    .search__videos     
        each item in videos
            +videoBlock({
                title:item.title,
                description:item.description, 
                videoFile:item.videoFile
            })